@import "0-tools/bourbon/bourbon";
@import "0-tools/normalize";

@import "1-base/fonts";
@import "1-base/vars";
@import "1-base/base";

@import "2-modules/header";

@import "3-layouts/home";

@media screen and (max-width: 775px) {
  .home-wrap {
    display: block;

    header {
      width: auto;
      padding: 30px;

      .header-position {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        flex-direction: row;
        align-items: center;
        width: auto;
      }

        .site-nav, .email-link {
          display: none;
        }

        .mobile-nav-toggle {
          display: block;
        }

        .logo {
          height: 40px;
          width: 40px;
        }

        .word-mark {
          margin-left: 0px;
        }
      }
    }

    .mobile-nav.open{
      transform: translateY(0%);
    }
  }
