@import "0-tools/bourbon/bourbon";
@import "0-tools/normalize";
@import "0-tools/foundation/foundation";

@import "1-base/fonts";
@import "1-base/vars";
@import "1-base/base";
@import "1-base/grid";

@import "2-modules/buttons";
@import "2-modules/flex-video";

@import "3-sections/header";
@import "3-sections/about";
@import "3-sections/work";
@import "3-sections/testimonials";
@import "3-sections/articles";

@import "4-layouts/home";

@media screen and (max-width: 775px) {
  .home-wrap {
    display: block;

    header {
      width: auto;
      padding: 30px;

      .header-position {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        flex-direction: row;
        align-items: center;
        width: auto;
      }

        .site-nav, .email-link {
          display: none;
        }

        .mobile-nav-toggle {
          display: block;
        }

        .logo {
          height: 40px;
          width: 40px;
        }

        .word-mark {
          margin-left: 0px;
        }
      }
    }

    .mobile-nav.open {
      transform: translateY(0%);
    }
  }

@media screen and (max-width: 640px){
  .home-sections section {
    padding: 10px;
  }
  .home-sections .flex {
    display: block;
  }
}
