header
  .header-position
    h1.logo Derek Knight

    nav.site-nav
      ul
        li: a(href="#about") About DK
        li: a(href="#work") Work
        li: a(href="#experience") Experience
        li: a(href="#skills") Skills
        li: a(href="#contact") Contact Me
    
    a(href="mailto:dpk@derekknight.ca").email-link +email me
