section.about
  .flex.flex--center
    .col-1.push--right
      h2.pull--left A collection of work amassed in over 15 years of design experience.
      p.lead-para.pull--left Scroll down to see my work, and learn more about me.
