section.work
  .flex.flex--center
    .col-1
      .thumbnail-strip
        
      
    .col-1.order-first
      p.lead-para Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a(href="#", target="_blank").home-cta View Projects
