section.work
  .flex.flex--space-around
    .col-1
      .thumbnail-strip
      .flex-video
        <iframe src="https://www.youtube.com/embed/V9gkYw35Vws" frameborder="0" allowfullscreen></iframe>
        
      
    .col-1.order-first
      p.lead-para Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a(href="#", target="_blank").home-cta View Projects
