section.contact
  .flex.flex--center
    .col-2
      p.lead-para I'd love to hear from you.
      p Meeting new people, collaborating, starting new projects is the fuel that drives me. go on, get in touch.
      p.form-req-fields All fields required.
      
      // Form
      .contact-form
        form(id="contact-form", method="post", action="../assets/js/contact-form")
          fieldset
            .input-group
              input(type='text', name="first_name")
              label.name Your full name
              
            .input-group
              input(type='email', name="email_address")
              label.email: span Your email address

            .input-group
              textarea(name='comments', rows=5)
              label.comments: span Comments

            .input-group
              input(type='submit', value='Lets Connect ').home-cta
