section.contact

  p
    line-height: 1.2

  form

    fieldset

      .input-group
        position: relative
        margin-bottom: 15px

        &:first-child
          margin-top: 30px

        input, textarea
          background: rgba(white, 0.5)
          border: 2px solid #283593
          box-shadow: none
          font-family: $primary-font
          font-size: 24px
          line-height: 1.5
          color: #283593
          margin-bottom: 30px

          &:focus, &:active
            outline: none


          &[type= "text"],
          &[type= "email"],
          &[name= "comments"]
            border: none
            border-bottom: solid 2px #283593

          &[name= "comments"]
            resize: none

          &[type= "submit"]
            font-family: $secondary-font
            margin: 0
            padding: 0 20px
            &:hover, &:active
              color: white
              background: #283593

        input
          &:focus + label,
          &.has-value + label
            top: -30px
            font-size: 12px
            font-weight: 700
            color: #aaa

        textarea
          &:focus + label,
          &.has-value + label
            top: -20px
            font-size: 12px
            font-weight: 700
            color: #aaa

        label
          font:
            family: $secondary-font
            style: italic
          color: #999
          pointer-events: none
          +transition


          &.name, &.email
            +position(absolute, 0 null null 0px)
            +transform(translateY(50%))

          &.comments
            +position(absolute, 0px null null 0px)
