section.testimonials
  background:
    image: url(../imgs/bg/testimonials-bg2.jpg)
    size: cover
    position: center bottom
    repeat: no-repeat
    //color: pink
  color: white
  //margin: 0px !important
  //padding: 0px !important
  padding-top: 100px
  overflow: hidden

  .home-cta
    color: $text-colour

  .profile-pics
    list-style: none
    margin: -30px 0
    height: calc(100% + 100px)
    padding: 0 0 30px 0
    position: relative
    top: 800px
    left: 0px
    transition: all 0.5s ease-in-out

    &.show
      top: 0px

  .profile-pic
    width: 80px
    height: 80px
    background:
      size: cover
      position: center
    border-radius: 50%
    margin-bottom: 35px
    margin-left: 0px
    box-shadow: 0px 4px 8px rgba(0,0,0, 1)
    position: relative
    cursor: pointer

  .caption
    opacity: 0
    position: absolute
    left: 100%
    bottom: 50%
    margin-left: 20px
    padding: 30px
    width: 300px
    background: rgba(255, 255, 255, 1)
    color: $text-colour
    box-shadow: 0px 4px 8px rgba(0,0,0, 1)
    pointer-events: none
    transition: all 0.3s cubic-bezier(.46,.03,.39,1.24)
    transform: scale(0)
    transform-origin: bottom left


    p
      margin-bottom: 15px

    cite
      text-align: right

      &:before
        display: inline-block
        vertical-align: text-bottom

  .profile-pic.caption-open .caption
    opacity: 1
    transform: scale(1)

@media (max-width: 640px)
  section.testimonials
    //padding-top: 230px !important
    height: 500px
    background-position: bottom left

    .profile-pics
      margin: 0
      padding: 0
      width: 115px * 6
      left: 0px

    .profile-pic
      display: inline-block
      margin-right: 35px

    .caption
      bottom: 100px
      left: 0px !important
      box-sizing: border-box

    .caption-open
      .caption
        left: -25px !important

    .lead-para
      margin-top: 250px
