section.work
  background:
    image: url(../imgs/bg/wild_oliva/wild_oliva.png)
    position: center
    repeat: repeat

  p, .lead-para
    color: white

  .thumbnail-strip
    position: absolute
    margin: -30px 0
    width: 100%
    height: calc(100% + 60px)
    background:
      image: url(../imgs/thumb-strip.png)
      position: center 0px
      repeat: repeat-y
      size: 80%

  .col-1
    position: relative
    width: 100%
